.searchField {


  cursor: pointer;

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }

}


.searchIcon {
  display: none;

  @media (max-width: $mantine-breakpoint-xs) {
    display: block;
  }
}